@font-face {
    font-family: 'Concert_One';
    src: url('fonts/ConcertOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(90deg, #e05f5f 0%, #db6868 50%, #e43c3c 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Courier Prime", monospace;
}

.header {
    width: 100%;
    overflow: hidden;
}
.carousel {
    height: 90vh; 
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;  
    height: 100vh;  
    object-fit: contain;
    object-position: center;
    border-radius: 5px; 
}
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    background-color: red;
    border-radius: 50%;
}

.jumbotron {
    color: white;
    font-size: 1.2rem; 
    padding: 2rem; 
}

.navbar {
    background-color: #ee6666; 
}

.navbar .nav-link {
    color: #f3f3f3; 
}

.navbar .nav-link:hover {
    color: #ffffff; 
}

.footer {
    background-color: #ee6666; 
    padding: 1rem; 
    color: #f3f3f3; 
}
.card {
    background-size: cover; 
    background-position: center;
    border: none; 
    height: 200px;
    border-radius: 10px;
    color: #fff;
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    height: 100%;
}

.products-body {
    background-color: #f3f3f3;
    margin-top: 2rem;
}
.contacts {
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}