.carousel-item {
    height: 400px;            /* Set a fixed height for the carousel item */
}

.carousel-item img {
    max-width: 80%;  
    height: auto;    
}
.corousel-item:hover{
    cursor: pointer;
}
body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}